{% extends '::base.html.twig' %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li>Usted está en: <a href="{{ path('default_index') }}">Inicio</a></li>
  <li class="active">Auditoría de datos</li>
  <li><a href="{{ path('meta_monitor_servicio_index') }}">Meta monitor de servicio</a></li>
  <li class="active">Ver</li>
</ol>
{% endblock %}

{% block body -%}
    <h3>Ver MetaMonitorServicio</h3>

    <table class="records_properties table table-striped">
        <tbody>
            <tr>
                <th>Area</th>
                <td>{{ entity.area }}</td>
            </tr>
            <tr>
                <th>Sistema</th>
                <td>{{ entity.sistema }}</td>
            </tr>
            <tr>
                <th>Mes</th>
                <td>{{ entity.mes }}</td>
            </tr>
            <tr>
                <th>Anno</th>
                <td>{{ entity.anno }}</td>
            </tr>
            <!-- <tr>
                <th>Incidencias</th>
                <td>{{ entity.incidencias }}</td>
            </tr> -->
            <tr>
                <th>Uptime</th>
                <td>{{ entity.uptime }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <p class="text-left">
    <!-- <a href="{{ path('meta_monitor_servicio_edit', { 'id': entity.id }) }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span> Editar
      </button>
    </a>

        <a href="{{ path('meta_monitor_servicio_delete', { 'id': entity.id, 'token': csrf.generateCsrfToken('entity' ~ entity.id) }) }}" class="confirm">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-trash"></span> Borrar
                    </button>
                  </a> -->
                  
</p>


    <p class="text-left">
    <a href="{{ path('meta_monitor_servicio_index') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> Volver
      </button>
    </a>
    </p>{% endblock %}
