{% extends '::base.html.twig' %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li>Usted está en: <a href="{{ path('default_index') }}">Inicio</a></li>
  <li class="active">Configuración</li>
  <li><a href="{{ path('paneles_index') }}">Panel</a></li>
  <li class="active">Ver</li>
</ol>
{% endblock %}

{% block body -%}
    <h3>Ver Panel</h3>

    <table class="records_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entity.responsable }}</td>
            </tr>            
            <tr>
                <th>Configuración</th>
                <td>{{ entity.ruta }}</td>
            </tr>
            <tr>
                <th>¿Visible?</th>
                <td>{% if entity.visible == 1 %}
                    VISIBLE
                    {% else %}
                    OCULTO
                    {% endif %}
                </td>
            </tr>                
            <tr>
                <th>Usuarios</th>
                <td>
                  <ul>
                  {% for user in entity.usuarios %}
                    <li>{{ user.name|e }}</li>
                  {% endfor %}
                  </ul>
                </td>
            </tr>            
        </tbody>
    </table>

        <p class="text-left">
    <a href="{{ path('paneles_edit', { 'id': entity.id }) }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-edit"></span> Editar
      </button>
    </a>

        <a href="{{ path('paneles_delete', { 'id': entity.id, 'token': csrf.generateCsrfToken('entity' ~ entity.id) }) }}" class="confirm">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-trash"></span> Borrar
                    </button>
                  </a>
                  
</p>


    <p class="text-left">
    <a href="{{ path('paneles_index') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> Volver
      </button>
    </a>
    </p>{% endblock %}
