{% extends '::base.html.twig' %}


{% block breadcrumb %}
<ol class="breadcrumb">
  <li>Usted está en: <a href="{{ path('default_index') }}">Inicio</a></li>
  <li class="active">Carga de datos</li>
  <li><a href="{{ path('archivo_de_carga_index') }}">Archivo de datos</a></li>
  <li class="active">Ver</li>
</ol>
{% endblock %}

{% block body -%}
    <h3>Ver Archivo de datos</h3>

    <table class="records_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha de carga</th>
                <td>{{ entity.createdAt | date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Notas</th>
                <td>{{ entity.notes }}</td>
            </tr>
        </tbody>
    </table>

    <p class="text-left">
    
    <a href="{{ path('archivo_de_carga_download', { 'id': entity.id }) }}">
                    <button type="button" class="btn btn-default btn-xs">
                      <span class="glyphicon glyphicon-download"></span> Archivo
                    </button>
                  </a>

    </p>


    <p class="text-left">
    <a href="{{ path('archivo_de_carga_index') }}">
      <button type="button" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-th-list"></span> Volver
      </button>
    </a>
    </p>{% endblock %}
